[{netease_service,
  [
   {default_timeout, 5000},
	 {netease_services, [netease]},
	 {netease, [{app_key, ""},
							{app_secret, ""},
							{url, "https://api.netease.im/nimserver/"},
							{redis, example},
              {size,10},
              {max_overflow,2000}]}]},
 {redis_pool, 
	[
   {redis_services, [example]},
   {example, [
            {host, "127.0.0.1"},
            {port, 6379},
            {db, 0}, 
            {password, ""},
            {pool_size, 1}
           ]}  
           ]}
	].
